body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

/* div{
  border: 1px solid red;
} */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-tera{
  font-family: "Lexend Tera", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.palanquin-dark-bold {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firstrow {
  height: 95vh;
  background-color: azure;
  background-image: url('1bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -3;
}

.main-img {
  background-image: url('1main.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 60vw;
  z-index: 5;
  margin-left: 23%;
  margin-top: 0%;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.navbar {
  z-index: 999;
  position: sticky;
}

.splat {
  background-image: url('splat.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
  position: absolute;
  height: 90vw;
  margin-left: 24%;
  margin-top: -5%;
}

#navbartext {
  font-size: 1.5vw;
}

.bigtext {
  color: white;
  font-family: 'arial black';
  transform: rotate(-8deg);
  font-size: 35vw;
  z-index: 4;
  position: absolute;
  font-weight: 900;
  margin-left: -10%;
  margin-top: 20% !important;
}

.scrolling-text {
  white-space: nowrap;
  color: white;
  font-family: 'Lexend Tera';
  transform: rotate(-8deg);
  font-size: 35vw;
  z-index: 4;
  position: absolute;
  font-weight: 900;
  margin-left: -40%;
  margin-top: 8% !important;
  left: 100%;
  animation: scrollText 10s linear infinite, fadein 10s;
  animation-duration: 40s;
  
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes scrollText {
  0% {
    transform: translate(-80%);
    rotate: -8deg;
  }
  100% {
    transform: translate(-400%);
    rotate: -8deg;
  }
}

.first-space{
  height: 15vw;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

.second-space{
  height: 15vw;
  background-color: rgb(255, 255, 255);
  z-index: 11;
}

.secondrow {
  height: 95vh;
  background-color: azure;
  background-image: url('1bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -3;
}


.spacetext{
  display: flex;
  justify-content: center;
  padding-top: 6.5%;
  font-size: 30px;
  font-family: 'Lexend Tera';
}

.textbehind-img{
  font-size: 60vw;
  font-family: 'Palanquin Dark';
  z-index: -1;
  position: absolute;
  font-weight: bolder;
  letter-spacing: -100px;
  margin-left: -27%;
  margin-top: -22% !important;
  color: rgb(238, 171, 38);
  opacity: 20%;
}

.first-img,
.second-img,
.third-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
  position: absolute;
  height: 60vw;
  margin-top: 0%;
  opacity: 0;
  transition: filter 1.5s ease-in-out;
}

.first-img {
  background-image: url('2.2.png');
  margin-left: 0%;
}

.second-img {
  background-image: url('2.3.png');
  margin-left: -27%;
}

.third-img {
  background-image: url('2.1.png');
  margin-left: 26%;
}

.animate-first {
  animation: focusIn 3s forwards, zoomIn 4s forwards, fadeInOpacity 3s forwards;
  animation-delay: 1s;
}

.animate-second {
  animation: focusIn 3s forwards, zoomIn 4s forwards, fadeInOpacity 3s forwards;
  animation-delay: 0.5s;
}

.animate-third {
  animation: focusIn 3s forwards, zoomIn 4s forwards, fadeInOpacity 3s forwards;
  animation-delay: 0s;
}

@keyframes focusIn {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shirt1, .shirt2, .shirt3, .shirt4 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
  position: absolute;
  height: 30vw;
  margin-top: 0%;
  display: flex;
  justify-content: space-evenly;
}

.shirt1{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
    position: absolute;
    height: 30vw;
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
  background-image: url('shirt1.png');
  left: 36%;
  transition: background-size 0.5s ease;
}

.shirt1:hover {
    background-size: 120%; /* Zoom in by increasing the size */
  } 

.shirt2{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
    position: absolute;
    height: 30vw;
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
  background-image: url('shirt2.png');
  left: 12%;
}

.shirt3{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
    position: absolute;
    height: 30vw;
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
  background-image: url('shirt3.png');
  right: 12%;
}

.shirt4{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
    position: absolute;
    height: 30vw;
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
  background-image: url('shirt4.png');
  right: 36%;
}

.thirdrow {
  height: 95vh;
  background-color: rgb(231, 231, 231);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -3;
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
}

.shirt1, .shirt2, .shirt3, .shirt4 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
  height: 30vw;
  margin: 0;
}
.text1{
  text-align: left;
  margin-right: 17%;
  margin-top: 30.5%;
  font-weight: bold;
}
.text2{
  text-align: left;
  margin-right: 16%;
  margin-top: 30.5%;
  font-weight: bold;
}
.text3{
  text-align: left;
  margin-right: 13%;
  margin-top: 30.5%;
  font-weight: bold;
}
.text4{
  text-align: left;
  margin-right: 12%;
  margin-top: 30.5%;
  font-weight: bold;
}

.shop{
  margin-top: -42% !important;
  margin-left: 2%;
  font-size: 7vw;
  font-family: 'Lexend Tera';
  font-weight: bolder;
  letter-spacing: -15px;
}

.ttext1{
  text-align: left;
  margin-left: 425%;
  margin-top: -30%;
  font-weight: lighter;
}

.ttext2{
  margin-left: 338%;
  margin-top: -25%;
  font-weight: lighter;
}

.ttext3{
  margin-left: 228%;
  margin-top: -16%;
  font-weight: lighter;
}

.ttext4{
  margin-left: 201%;
  margin-top: -14%;
  font-weight: lighter;
}

.show-more {
  margin-left: 26.7%;
  position: absolute;
  top: 8.2%;
  padding: 10px 20px;
  font-size: 1.8vw;
  font-family: 'Lexend Tera';
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.show-more:hover {
  opacity: 0.8;
}

.icon1{
  margin-top: -685%;
  margin-left: 430%;
}
.icon2{
  margin-top: -535%;
  margin-left: 338%;
}
.icon3{
  margin-top: -365%;
  margin-left: 229%;
}
.icon4{
  margin-top: -320%;
  margin-left: 200%;
}